---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import githubImage from "../img/github-mark.png";
import githubWhiteImage from "../img/github-mark-white.png";
import personalImage from "../img/me.jpg";
import Container from "../components/Container.astro";
---

<Layout title="Dario Vogogna - Homepage">
    <Container class="max-w-xl">
        <div class="motion-safe:animate-fadein text-center backdrop-blur p-3 mb-6 rounded-lg bg-white bg-opacity-40 dark:bg-opacity-10">
            <span>Hello, I&apos;m a full-stack developer based in Italy!</span>
        </div>

        <div class="motion-safe:animate-fadein md:flex">
            <div class="grow">
                <h2 class="text-4xl font-bold">Dario Vogogna</h2>
                <p>Digital Craftsman (Developer / Artisan)</p>
            </div>
            <div class="shrink-0 mt-4 text-center md:mt-0 md:ml-6">
                <div class="border-2 w-24 h-24 inline-block rounded-full overflow-hidden">
                  <Image src={personalImage} alt="My profile picture" />
                </div>
            </div>
        </div>
        <Section class="animation-delay-100">
            <h3 class="mt-3 mb-4 text-xl font-bold underline underline-offset-8 decoration-4 decoration-secondary">man akyrey</h3>
            <p class="text-justify indent-1 hyphens-auto">
                Married and father of one, I&apos;m a full-stack developer based in Turin with a passion for optimization.
                I like working with different tech stacks and facing new problems. I tend to be a problem
                solver, sometimes of problems I create myself.
                I&apos;m currently working for <span class="text-tertiary outline-transparent underline-offset-4 outline-offset-2 cursor-pointer decoration-none hover:underline transition-colors ease-out duration-150">Euronovate</span>
                as the front end team leader.
            </p>
        </Section>
        <Section class="animation-delay-200">
            <h3 class="mt-3 mb-4 text-xl font-bold underline underline-offset-8 decoration-4 decoration-secondary">ls tools</h3>
            <p class="text-justify indent-1 hyphens-auto">
                I use <Link url="https://manjaro.org/" target="_blank">Manjaro Linux</Link> as my daily distro.
                I live in my <Link url="https://sw.kovidgoyal.net/kitty/" target="_blank">Kitty</Link> terminal using 
                <Link url="https://github.com/tmux/tmux/wiki" target="_blank">tmux</Link> and <Link url="https://neovim.io/" target="_blank">Neovim</Link>.
                In my <Link url="https://github.com/akyrey/dotfiles" target="_blank">dotfiles</Link> repository I have my <Link url="https://www.ansible.com/" target="_blank">Ansible</Link> scripts to setup and update my machine
                and I usually keep my notes on <Link url="https://obsidian.md/" target="_blank">Obsidian</Link> often using <Link url="https://excalidraw.com/" target="_blank">Excalidraw</Link>
                to visualize my ideas and create my projects workflows.
            </p>
        </Section>
        <Section class="animation-delay-300">
            <h3 class="mt-3 mb-4 text-xl font-bold underline underline-offset-8 decoration-4 decoration-secondary">./portfolio</h3>
            <p class="text-justify indent-1 hyphens-auto">
                TODO: List web app I've created and link repositories for my CLI tools and projects
                <ul>
                    <li>
                        <Link url="https://akyrey.gitlab.io/wedding/" target="_blank">My wedding website</Link> designed by a friend of mine and created using Angular
                    </li>
                </ul>
            </p>
        </Section>
        <Section class="animation-delay-400">
            <h3 class="mt-3 mb-4 text-xl font-bold underline underline-offset-8 decoration-4 decoration-secondary">ping</h3>
            <p class="text-justify indent-1 hyphens-auto">
                <ul class="list-none" role="list">
                    <li>
                        <Link url="https://github.com/akyrey/akyrey-website" target="_blank" class="inline-flex items-center gap-2">
                            <Image src={githubImage} alt="GitHub logo" class="w-5 h-5 dark:hidden" />
                            <Image src={githubWhiteImage} alt="GitHub logo" class="w-5 h-5 hidden dark:block" />
                            <span>@akyrey</span>
                        </Link>
                    </li>
                </ul>
            </p>
        </Section>
    </Container>
</Layout>

<style>
</style>
