---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dario Vogogna - Homepage">
    <div class="text-center backdrop-blur p-3 mb-6 rounded-lg">
        <span>Hello, I&apos;m a full stack developer based in Italy!</span>
    </div>

    <div class="md:flex">
        <div class="grow">
            <h2 class="text-4xl font-bold">Dario Vogogna</h2>
            <p>Digital Craftsman (Developer / Artisan)
        </div>
        <div class="shrink-0 mt-4 text-center md:mt-0 md:ml-6">
            <div class="border-2 w-24 h-24 inline-block rounded-full overflow-hidden">
            </div>
        </div>
    </div>
</Layout>

<style>
</style>
