---
const currentYear: number = new Date().getFullYear();
---

<div class="text-sm opacity-40 text-center">
    <span>&copy; {currentYear} Dario Vogogna. All Rights Reserved.</span>
    <br />
    <span>Inspired by <a href="https://www.craftz.dog/">Takuya Matsuyama</a></span>
</div>
