---
import FootprintIcon from './icons/FootprintIcon.astro';
---

<a href="/">
  <span class="font-bold text-lg inline-flex items-center h-8 p-2.5 group">
    <FootprintIcon />
    <p class="font-bold ml-3">Dario Vogogna</p>
  </span>
</a>
