---
import FootprintIcon from './icons/FootprintIcon.astro';
---

<a href="/">
  <span class="logo-box">
    <FootprintIcon />
    <p>Dario Vogogna</p>
  </span>
  </a>

<style>
.logo-box {font-weight: bold;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  height: 30px;
  line-height: 20px;
  padding: 10px;

  > svg {
    transition: 200ms ease;
  }

  &:hover > svg {
    transform: rotate(20deg);
  }

  > p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    margin-left: 0.75rem;
  }
}
</style>
