---
import FootprintIcon from './icons/FootprintIcon.astro';
---

<a href="/">
  <span class="font-bold text-lg inline-flex items-center h-8 p-2.5">
    <FootprintIcon />
    <p>Dario Vogogna</p>
  </span>
  </a>

<style>
.logo-box {
  > svg {
    transition: 200ms ease;
  }

  &:hover > svg {
    transform: rotate(20deg);
  }

  > p {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    margin-left: 0.75rem;
  }
}
</style>
